# HWCtl
rpi_ws281x
apscheduler
smbus2
SQLAlchemy
adafruit-circuitpython-neopixel
PyMySQL
Adafruit_DHT
Pillow
adafruit-circuitpython-ssd1306
adafruit-circuitpython-pca9685

# WebAPI
Flask
Flask-SQLAlchemy
PyMySQL
flask-marshmallow